# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/example/build/
pubspec.lock

# Coverage
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
android/app/debug
android/app/profile
android/app/release

# Misc
GeneratedPluginRegistrant.swift

pubspec_overrides.yaml
melos_overrides.yaml

.fvm
.fvmrc
.ruby-version
Gemfile*

# 
android/.gradle
android/local.properties
local.properties
example/ios/Flutter/ephemeral
example/macos/Flutter/ephemeral
flutter_export_environment.sh
Generated.xcconfig
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.java
